#feed {
  display: flex;
}

h1 {
  color: red;
}

.post {
  max-width: 300px;
  flex: 1 1 250px;
  border-radius: 25px;
  box-shadow: 3px 3px rgba(90,90,90,0.5);
  .post-img-wrap {
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
  .post-img-inner {
    width: 100%;
    height: 0;
    padding-top: 80%;
  }
}
